:root {
  --orange-main: orange;
  --orange-dark: rgb(230, 145, 5);
  --orange-secondary: rgb(248, 178, 48);
  --orange-light: rgb(255, 195, 84);
}

.loading-screen {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #161719;
  color: rgba(255, 255, 255, 0.829);

  .loading-spinner {
    width: 120px;
    height: 120px;
    font-size: 20px;
    color: var(--orange-main);
  }
}

.text-orange {
  color: var(--orange-dark);
}

.link-orange {
  color: var(--orange-dark);

  &:hover {
    color: var(--orange-main);
    font-weight: 500;
  }

  &:focus {
    color: var(--orange-secondary)
  }
}

.link-secondary-emphasis {
  color: var(--bs-secondary-text-emphasis);

  &:hover {
    color: var(--bs-secondary-text);
    font-weight: 500;
  }

  &:focus {
    color: white;
  }
}

/* Navbar - Start */
.navbar.navbar-no-bg {

  .navbar-toggler {
    color: white;
    border-color: white;
  }

  .bi-list,
  .vr,
  .theme-icon {
    color: white;
  }

  /* offcanvas yokken linkleri beyaz yap */
  .nav-underline .nav-link {
    @media (min-width: 768px) {
      color: white;
    }
  }
}

.navbar .nav-underline .nav-link {
  font-weight: 600;

  &:hover {
    border-color: var(--orange-dark);
  }

  &.active {
    color: var(--orange-dark);
  }
}

.navbar .offcanvas {
  width: 75%;

  @media (min-width: 576px) {
    width: 50%;
  }
}
/* Navbar - End */

/* Footer */
footer ul.social-media-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
  font-size: 23px;
  padding: 0;

  @media (min-width: 768px) {
    justify-content: end;
  }
}

/* Carousel - Start */
.carousel-indicators button {
  background-color: white !important;

  &.active {
    background-color: var(--orange-main) !important;
  }
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 7vw;

  @media (min-width: 576px) {
    font-size: 6vw;
  }

  @media (min-width: 768px) {
    font-size: 5vw;
  }

  @media (min-width: 992px) {
    font-size: 4.5vw;
  }

  @media (min-width: 1200px) {
    font-size: 3.7vw;
  }

  @media (min-width: 1400px) {
    font-size: 3vw;
  }
}

.carousel-item {
  height: 65vh;

  @media (min-width: 576px) {
    height: 70vh;
  }

  @media (min-width: 768px) {
    height: 70vh;
  }

  @media (min-width: 992px) {
    height: 75vh;
  }

  @media (min-width: 1200px) {
    height: 75vh;
  }

  @media (min-width: 1400px) {
    height: 80vh;
  }
}

.carousel-item .overlay-image {
  height: 100%;
  background-position: center;
  background-size: cover;
  filter: brightness(0.5);
}

.carousel-item .carousel-caption {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;

  .carousel-caption-text {
    color: white !important;
    font-size: 4.8vw;
  }

  .carousel-caption-subtext {
    color: white !important;
    font-style: italic;
    font-weight: 500;
    font-size: 2.9vw;
  }

  @media (min-width: 576px) {
    .carousel-caption-text {
      font-size: 3.8vw;
    }

    .carousel-caption-subtext {
      font-size: 2.6vw;
    }
  }

  @media (min-width: 768px) {
    .carousel-caption-text {
      font-size: 2.9vw;
    }

    .carousel-caption-subtext {
      font-size: 1.9vw;
    }
  }

  @media (min-width: 992px) {
    .carousel-caption-text {
      font-size: 2.6vw;
    }

    .carousel-caption-subtext {
      font-size: 1.6vw;
    }
  }

  @media (min-width: 1200px) {
    .carousel-caption-text {
      font-size: 2.5vw;
    }

    .carousel-caption-subtext {
      font-size: 1.4vw;
    }
  }

  @media (min-width: 1400px) {
    .carousel-caption-text {
      font-size: 2vw;
    }

    .carousel-caption-subtext {
      font-size: 1vw;
    }
  }
}
/* Carousel - End */

/* Section */
.section-header {
  display: inline-block;

  &::before {
    content: "";
    float: left;
    width: 50px;
    height: 3px;
    margin-top: 15px;
    margin-right: 10px;
    background-color: orange;
  }

  &::after {
    content: "";
    float: right;
    width: 50px;
    height: 3px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: orange;
  }

  @media (min-width: 576px) {

    &::before,
    &::after {
      margin-top: 16px;
    }
  }

  @media (min-width: 768px) {

    &::before,
    &::after {
      margin-top: 17px;
    }
  }

  @media (min-width: 992px) {

    &::before,
    &::after {
      margin-top: 17.5px;
    }
  }

  @media (min-width: 1200px) {

    &::before,
    &::after {
      margin-top: 18.5px;
    }
  }

  @media (min-width: 1400px) {

    &::before,
    &::after {
      margin-top: 18.5px;
    }
  }
}

.section-container-margin {
  margin-top: 6.5vh;
  margin-bottom: 11vh;
}

.google-map {
  border: 0;
}

/* Hover */
.hover-scale {
  transition: all 0.2s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

/* Dark Theme Start */
[data-bs-theme=dark] {
  .text-orange {
    color: var(--orange-main);
  }

  .link-orange {
    color: var(--orange-main);

    &:hover {
      color: var(--orange-secondary);
      font-weight: 500;
    }

    &:focus {
      color: var(--orange-light)
    }
  }

  .navbar .nav-underline .nav-link {
    font-weight: 600;

    &:hover {
      border-color: var(--orange-main);
    }

    &.active {
      color: var(--orange-main);
    }
  }

  .google-map {
    filter: invert(0.9);
  }
}
